<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="C:\code\github\Fancy\packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSources>
    <!-- + those in %appdata%\NuGet\nuget.config -->
    <add key="Official NuGet" value=" http://nuget.org/api/v2/" />
  </packageSources>
</configuration>